* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

#Section-img {
  background-image: url("../img/foto-ti.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 800px;
}

#Mis-trabajos .card {
  object-fit: cover;
  object-position: center center;
}
.card-img-top {
  height: 200px;
}
.contenedor-icon i {
  color: black;
  font-size: 28px;
  align-content: space-around;
  flex-wrap: nowrap;
  margin-left: 5px;
  padding: 5px;
}
.bi-github {
  margin: 10px;
}


